<div class="container" style="width:100%;height:auto;float:left;">
    
    <div class="Bitmap">
        <img src="assets/image/bitmap.png" srcset="assets/image/bitmap@2x.png 2x,assets/image/bitmap@3x.png 3x">
    </div>
    <div style="float: right;">
        <ul id="list" class="menu">
            <li>About Us</li>
            <li>How it works?</li>
            <li style="color: #ffcd54;"><i style="color: #ffcd54;" class="fas fa-phone-alt"></i>  +91 82917 64648</li>
            <li class="Rectangle"><a target="_blank" href="https://www.emagine.co.in/rockregister">Hire Now</a></li>
        </ul>
    </div>
   
    <slideshow (click)="goToPage();" class="test" 
    [minHeight]="'525px'"
    [autoPlay]="true"
    [showArrows]="false"
    [imageUrls]="imagesUrl"
    [lazyLoad]="imagesUrl?.length > 1"
    [autoPlayWaitForLazyLoad]="true">
    </slideshow>
    <div class="white_Rectangle">
        <owl-carousel [options]="logoSliderOptions" 
				[carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of carousalUrl;let i = index">
                <div class="thumbnail-image">
                    <img src="{{image}}"
                        style="background-color: #fff; height: 100px; width: 130px; margin: 15px 1px;" />
                </div>
            </div>
        </owl-carousel>
    </div>

    <!--<div class="main_image">
        <a target="_blank" href="https://www.emagine.co.in/rockregister">
        <img src="assets/image/286.png" width="100%" srcset="assets/image/286@2x.png 2x,assets/image/286@3x.png 3x">
        <div class="play_hiring">Plug N Play<span class="play_hiring_weight"> Hiring Solution</span> for Startup’s & SME’s</div>
        <div class="play_hiring_content">Our end to end sourcing methodology ensures that we find the right talent for you every single time.</div>
        <div>
            <div class="Oval"></div>
            <div class="Oval_copy"></div>
            <div class="Oval" style="left: 90px;"></div>
        </div>
        <div class="right_talent">Find the right talent</div>
        <div>
            <input class="Bg-Input" type="text" style="outline: none;border: 1px solid rgba(255, 255, 255, 0.3);" placeholder="Enter Job Title">
            <input class="Bg-Input" style="width: 217px;left:400px;outline: none;border: 1px solid rgba(255, 255, 255, 0.3);" type="text" placeholder="City, Region or Post Code">  
            <span class="Rectangle_background"><a target="_blank" href="https://www.emagine.co.in/rockregister">Hire Now</a></span>      
        </div></a>

        <div class="white_Rectangle">
            <ul id="clientlist" class="menu">
                <li><img src="assets/image/bitmap-copy.png"
                    srcset="assets/image/bitmap-copy@2x.png 2x,
                    assets/image/bitmap-copy@3x.png 3x"
                    class="Bitmap-Copy"></li>
                <li><img src="assets/image/bitmap-copy-2.png"
                    srcset="assets/image/bitmap-copy-2@2x.png 2x,
                    assets/image/bitmap-copy-2@3x.png 3x"
                    class="bitmap-copy-2"></li>
                <li><img src="assets/image/bitmap-copy-3.png"
                    srcset="assets/image/bitmap-copy-3@2x.png 2x,
                    assets/image/bitmap-copy-3@3x.png 3x"
                    class="bitmap-copy-3"></li>
                <li><img src="assets/image/bitmap1.png"
                    srcset="assets/image/bitmap1@2x.png 2x,
                    assets/image/bitmap1@3x.png 3x"
                    class="bitmap1"></li>
                <li><img src="assets/image/bitmap-copy-5.png"
                    srcset="assets/image/bitmap-copy-5@2x.png 2x,
                    assets/image/bitmap-copy-5@3x.png 3x"
                    class="bitmap-copy-5"></li>    
                <li><img src="assets/image/bitmap-copy-4.png"
                    srcset="assets/image/bitmap-copy-4@2x.png 2x,
                    assets/image/bitmap-copy-4@3x.png 3x"
                    class="bitmap-copy-4"></li>
                <li><img src="assets/image/bitmap-copy-7.png"
                    srcset="assets/image/bitmap-copy-7@2x.png 2x,
                    assets/image/bitmap-copy-7@3x.png 3x"
                    class="Bitmap-Copy-7"></li>          
            </ul>        
        </div>
    </div>-->
</div>
<div class="about_us">
    <div class="about_content">
        <span class="aboutAs">About Us</span>
        <p class="why_rock">Why <span style="font-size: 36px;font-family: arial;letter-spacing: -3px;">R<span style="font-size: 28px;font-family: arial;">O</span>C<sup style="font-size: 25px;font-family: arial;">K</sup>?</span></p>
        <p class="rock_detail">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution for MSME's/Start-ups/Co-Working Spaces backed with a Recruitment Marketplace of 1000+ Recruitment Partners and a World class ATS.</p>
        <span class="Rectangle_background_outer"><a target="_blank" href="https://www.emagine.co.in/rockregister">Hire Now</a></span>  
    </div>
    <div style="float:left"><img src="assets/image/menwomen.png"></div>
    <div style="float:left"><img src="assets/image/women_men.png"></div>
    <div style="float:left"><img src="assets/image/hand.png"></div>
    <div style="float:left"><img src="assets/image/leg.png"></div>
</div>

<div id="rate">
    <a target="_blank" href="https://www.emagine.co.in/rockregister"><img style="margin-top: 12px;width: 100%;" src="assets/image/oval-copy-10.png" srcset="assets/image/oval-copy-10@2x.png 2x,assets/image/oval-copy-10@3x.png 3x" class="oval-copy-10">
    <p class="dropping">Jaw-dropping rates like never before</p>
    <p class="dropping_content">RoC<sup style="font-size: 15px;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution for MSME's/Start-ups/Co-Working Spaces backed with a Recruitment Marketplace of 1000+ Recruitment Partners and a World class ATS.</p>
    <p class="dropping_content" style="top: 1525px;font-size: 13px;">Other recruiting companies</p>
    <span class="dropping_rock">RoC<sup style="font-size: 15px;">k</sup></span>
    <p class="dropping_percentage">8.33%</p>
    <span class="dropping_offer">4.99%</span>
    <div class="Rectangle_backgroundwhite"><a target="_blank" href="https://www.emagine.co.in/rockregister">Hire Now</a></div></a>
</div>
<div id="how_it_works">
    <p class="how_content">How it works?</p>
    <p class="how_content1">Hire the best candidate, in just 6 easy steps!</p>
    <div class="how_details">
    <div id="tab1" class="tab">
        <img src="assets/image/group-15.png" style="margin-top: -28px;float:left;"></div>
    <div class="border_linecopy" style="margin-left: 50px;"></div>
    <div id="tab2" class="tab">
        <img src="assets/image/group-15.png" style="margin-top: -28px;margin-left: 178px;float: left;"></div>
    <div class="border_linecopy"></div>
    <div id="tab3" class="tab">
        <img src="assets/image/group-20.png" style="margin-top: -28px;margin-left: 180px;float: left;"></div>
    <div class="border_linecopy" style="margin-left: 514px;"></div>
    <div id="tab4" class="tab">
        <img src="assets/image/group-23.png" style="margin-top: -28px;margin-left: 180px;float: left;"></div>
    <div class="border_linecopy" style="margin-left: 747px;"></div>
    <div id="tab5" class="tab">
        <img src="assets/image/group-24.png" style="margin-top: -28px;margin-left: 180px;float: left;"> </div>
    <div class="border_linecopy" style="margin-left: 978px;"></div>
    <div id="tab6" class="tab"> 
        <img src="assets/image/group-25.png" style="margin-top: -28px;margin-left: 177px;float: left;"></div>

    <div id="tab1show" class="tab-content">
        <img src="assets/image/1_1x.png" class="men" style="margin-top: -227px;margin-left: -90px;width: 324px;">
        <!--<img src="assets/image/men.png" class="men" style="margin-top: -234px;margin-left: -120px;">
        <img src="assets/image/group-15@2x.png" style="margin-top: -79px;float: left;position: relative;z-index: 9999;">-->
        <div>
            <p style="margin: 18px 0px 0px -2px;font-size: 15px;font-weight: 900;">Register on ROCK</p>
            <p style="width: 123px;color: #98a6b8;text-align: center;line-height: 1.93;font-size: 12px;margin-left: -10px;">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution </p>
        </div>  
    </div>
   
        <div id="tab2show" class="tab-content">
            <img src="assets/image/2_1x.png" class="men" style="margin-top: -227px;margin-left: 146px;width: 318px;">
           <!-- <img src="assets/image/men.png" class="men" style="margin-top: -234px;margin-left: -120px;">
            <img src="assets/image/group-15@2x.png" style="margin-top: -79px;margin-left: 200px;float: left;position: relative;z-index: 9999;">-->
            <div>
                <p style="margin: 18px 0px 0px 155px;font-size: 15px;font-weight: 900;">Get Call from our recruiter on cloud</p>
                <p style="width: 123px;color: #98a6b8;text-align: center;line-height: 1.93;font-size: 12px;margin-left: 193px;">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution </p>
            </div>
        </div>
        
        <div id="tab3show" class="tab-content">
            <img src="assets/image/3_1x.png" class="men"  style="margin-top: -217px;margin-left: 394px;width: 302px;">
            <div>
                <p style="margin: 18px 0px 0px 372px;font-size: 15px;font-weight: 900;">Signup with paperless onboarding process</p>
                <p style="width: 123px;color: #98a6b8;text-align: center;line-height: 1.93;font-size: 12px;margin-left: 430px;">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution </p>
            </div>
        </div>
        
        <div id="tab4show" class="tab-content">
            <img src="assets/image/4_1x.png" class="men" style="margin-top: -229px;margin-left: 603px;width: 324px;">
            <div>
                <p style="margin: 18px 0px 0px 615px;font-size: 15px;font-weight: 900;">Get the free login to our Tech platform</p>
                <p style="width: 123px;color: #98a6b8;text-align: center;line-height: 1.93;font-size: 12px;margin-left: 673px;">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution </p>
            </div>
        </div>
        
        <div id="tab5show" class="tab-content">
            <img src="assets/image/5_1x.png" class="men" style="margin-top: -244px;margin-left: 840px;width: 302px;">
            <div>
                <p style="margin: 18px 0px 0px 783px;font-size: 15px;font-weight: 900;">Open Jobs – Publish to 1000+ Recruitment partners for free</p>
                <p style="width: 123px;color: #98a6b8;text-align: center;line-height: 1.93;font-size: 12px;margin-left: 900px;">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution </p>
            </div>
        </div>
        
        <div id="tab6show" class="tab-content">
            <img src="assets/image/6_1x.png" class="men" style="margin-top: -226px;margin-left: 1082px;width: 302px">
            <div>
                <p style="margin: 18px 0px 0px 1113px;font-size: 15px;font-weight: 900;">Shortlist-Interview-Hire</p>
                <p style="width: 123px;color: #98a6b8;text-align: center;line-height: 1.93;font-size: 12px;margin-left: 1128px;">RoC<sup style="font-size: inherit;color: #98a6b8;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution </p>
            </div>
        </div>

        <!--<img src="assets/image/men.png" class="men">
        <div class="border_line"></div>
        <div class="circle"><i style="color: rgb(253, 252, 252);margin: 17px 21px;" class="fas fa-user fa-3x"></i></div>
        <div class="card" style="margin-top: -28px;margin-left: 290px;float: left;"></div>
        <img src="assets/image/group-15.png" style="margin-top: -28px;margin-left: 290px;float: left;">
        <div class="border_linecopy"></div>
        <img src="assets/image/group-20.png" style="margin-top: -28px;margin-left: 180px;float: left;">
        <div class="border_linecopy" style="margin-left: 574px;"></div>
        <img src="assets/image/group-23.png" style="margin-top: -28px;margin-left: 180px;float: left;">
        <div class="border_linecopy" style="margin-left: 806px;"></div>
        <img src="assets/image/group-24.png" style="margin-top: -28px;margin-left: 180px;float: left;">             
        <div class="border_linecopy" style="margin-left: 1036px;"></div>
        <img src="assets/image/group-25.png" style="margin-top: -28px;margin-left: 180px;float: left;">-->
    </div>  
    
</div>
<div id="slider">
    <p style="font-size: 38px;font-weight: 900;margin-left:20px ;">Our <span style="font-size: 36px;font-family: arial;letter-spacing: -3px;">R<span style="font-size: 28px;font-family: arial;">O</span>C<sup style="font-size: 25px;font-family: arial;">K</sup>ing</span> Offers</p>
    <angular-image-slider  [autoRotate]="true"  [autoRotateAfter]="5000"  [autoRotateRight]="true"  [images]="rockingOffer"></angular-image-slider>
</div>
<div class="w3-content w3-display-container" style="height: 580px;">
    <div class="mySlides">
        <div id="diagram">
            <div style="margin-left: 400px;margin-top: 50px;"><img src="assets/image/ovals.png"></div>
            <div style="margin-left: 98px;margin-top: 50px;float:left;"><img src="assets/image/triangle.png"></div>
            <div style="margin-left: 50px;margin-top: 86px;float:left;"><img src="assets/image/oval.png"></div>    
            <div style="margin-left: 50px;margin-top: 55px;float:left;"><img src="assets/image/menin.png"></div>
            <div style="margin-left: 464px;margin-top: 100px;"><img src="assets/image/oval1.png"></div>
            <div style="margin-left: 83px;margin-top: 81px;float:left;"><img src="assets/image/ovals.png"></div>
            <div style="margin-left: 50px;margin-top: 18px;float:left;"><img src="assets/image/women.png"></div>
            <div style="margin-left: -74px;margin-top: 157px;float:left;"><img src="assets/image/rectangle.png"></div>
            <div class="Oval_big" style="margin-left: 285px;margin-top: 54px;"><div class="Oval_small" style="margin-left: 23px;margin-top: 23px;"><img src="assets/image/circlemen@3x.png" style="width: 325px;max-width: inherit;margin: -23px -59px;"></div></div>
            <div style="margin-left: 150px;margin-top: -48px;float:left;"><img src="assets/image/ovals.png"></div>
        </div>
        <div id="content">
            <p class="testimonial">Client Testimonmial</p>
            <p class="what_rock_client">What our <span style="font-size: 48px;font-family: arial;letter-spacing: -3px;">R<span style="font-size: 28px;font-family: arial;">O</span>C<sup style="font-size: 25px;font-family: arial;">K</sup>ing</span> Clients say about us.</p>
            <p class="We-have-worked-toget">We have worked together on an important project and have been happy with their ability to address  hiring volumes via the marketplace. While it is still early days in the engagement, we expect the  partnership to build furthermore and are working together to improve core tech hiring capability.</p>
            <p class="testimonial">Pradeep Reddy</p>
            <p style="font-size: 12px;color: #9dafbd;margin-top: 25px;">AVP – Talent Fulfillment, Microland</p>
        </div>
    </div>
    <div class="mySlides">
        <div id="diagram">
            <div style="margin-left: 400px;margin-top: 50px;"><img src="assets/image/ovals.png"></div>
            <div style="margin-left: 98px;margin-top: 50px;float:left;"><img src="assets/image/triangle.png"></div>
            <div style="margin-left: 50px;margin-top: 86px;float:left;"><img src="assets/image/oval.png"></div>    
            <div style="margin-left: 50px;margin-top: 55px;float:left;"><img src="assets/image/menin.png"></div>
            <div style="margin-left: 464px;margin-top: 100px;"><img src="assets/image/oval1.png"></div>
            <div style="margin-left: 83px;margin-top: 81px;float:left;"><img src="assets/image/ovals.png"></div>
            <div style="margin-left: 50px;margin-top: 18px;float:left;"><img width="80px" height="80px" src="assets/image/Testimonial_01_1x.png"></div>
            <div style="margin-left: -74px;margin-top: 157px;float:left;"><img src="assets/image/rectangle.png"></div>
            <div class="Oval_big" style="margin-left: 285px;margin-top: 54px;"><div class="Oval_small" style="margin-left: 23px;margin-top: 23px;"><img src="assets/image/women.png" style="width: 195px;max-width: inherit;margin: 5px 5px;"></div></div>
            <div style="margin-left: 150px;margin-top: -48px;float:left;"><img src="assets/image/ovals.png"></div>
        </div>
        <div id="content">
            <p class="testimonial">Client Testimonmial</p>
            <p class="what_rock_client">What our Roc<sup>k</sup>ing Clients say about us.</p>
            <p class="We-have-worked-toget">Great Service. Team is very knowledgeable and passionate for what they do. Driven by results, share clear process and reporting.</p>
            <p class="testimonial">Einav Lavi</p>
            <p style="font-size: 12px;color: #9dafbd;margin-top: 25px;">Global HRHead, Qualitest Group</p>
        </div>
    </div>
    <div class="mySlides">
        <div id="diagram">
            <div style="margin-left: 400px;margin-top: 50px;"><img src="assets/image/ovals.png"></div>
            <div style="margin-left: 98px;margin-top: 50px;float:left;"><img src="assets/image/triangle.png"></div>
            <div style="margin-left: 50px;margin-top: 86px;float:left;"><img src="assets/image/oval.png"></div>    
            <div style="margin-left: 50px;margin-top: 55px;float:left;"><img width="80px" height="80px" src="assets/image/Testimonial_01_1x.png"></div>
            <div style="margin-left: 464px;margin-top: 100px;"><img src="assets/image/oval1.png"></div>
            <div style="margin-left: 83px;margin-top: 81px;float:left;"><img src="assets/image/ovals.png"></div>
            <div style="margin-left: 50px;margin-top: 18px;float:left;"><img src="assets/image/women.png"></div>
            <div style="margin-left: -74px;margin-top: 157px;float:left;"><img src="assets/image/rectangle.png"></div>
            <div class="Oval_big" style="margin-left: 285px;margin-top: 54px;"><div class="Oval_small" style="margin-left: 23px;margin-top: 23px;"><img src="assets/image/menin.png" style="width: 195px;max-width: inherit;margin: 5px 5px;"></div></div>
            <div style="margin-left: 150px;margin-top: -48px;float:left;"><img src="assets/image/ovals.png"></div>
        </div>
        <div id="content">
            <p class="testimonial">Client Testimonmial</p>
            <p class="what_rock_client">What our Roc<sup>k</sup>ing Clients say about us.</p>
            <p class="We-have-worked-toget">Emagine is one of our prime partner for all our recruitment needs. They help us get the right candidate,at the right place, at the right time and most importantly at the right cost. Emagine understands our requirements extremely well and submits only the best matched candidates to us that saves time and ensures quality profiles.</p>
            <p class="testimonial">Samiran Chatterjee</p>
            <p style="font-size: 12px;color: #9dafbd;margin-top: 25px;">Head HRM, TEODO(Telecom IT Services Company)</p>
        </div>
    </div>    
    <div class="buttonslide" style="text-align: center;margin-left: 48px;">
        <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>&nbsp;&nbsp;
        <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
    </div>
  </div>
<!--<div id="diagram">
    <div style="margin-left: 400px;margin-top: 50px;"><img src="assets/image/ovals.png"></div>
    <div style="margin-left: 98px;margin-top: 50px;float:left;"><img src="assets/image/triangle.png"></div>
    <div style="margin-left: 50px;margin-top: 86px;float:left;"><img src="assets/image/oval.png"></div>    
    <div style="margin-left: 50px;margin-top: 55px;float:left;"><img src="assets/image/menin.png"></div>
    <div style="margin-left: 464px;margin-top: 100px;"><img src="assets/image/oval1.png"></div>
    <div style="margin-left: 83px;margin-top: 81px;float:left;"><img src="assets/image/ovals.png"></div>
    <div style="margin-left: 50px;margin-top: 18px;float:left;"><img src="assets/image/women.png"></div>
    <div style="margin-left: -74px;margin-top: 157px;float:left;"><img src="assets/image/rectangle.png"></div>
    <div class="Oval_big" style="margin-left: 285px;margin-top: 54px;"><div class="Oval_small" style="margin-left: 23px;margin-top: 23px;"><img src="assets/image/circlemen@3x.png" style="width: 325px;max-width: inherit;margin: -23px -59px;"></div></div>
    <div style="margin-left: 150px;margin-top: -48px;float:left;"><img src="assets/image/ovals.png"></div>
</div>
<div id="content">
    <p class="testimonial">Client Testimonmial</p>
    <p class="what_rock_client">What our Roc<sup>k</sup>ing Clients say about us.</p>
    <p class="We-have-worked-toget">We have worked together on an important project and have been happy with their ability to address  hiring volumes via the marketplace. While it is still early days in the engagement, we expect the  partnership to build furthermore and are working together to improve core tech hiring capability.</p>
    <p class="testimonial">Pradeep Reddy</p>
    <p style="font-size: 12px;color: #9dafbd;margin-top: 25px;">AVP – Talent Fulfillment, Microland</p>
</div>-->
<div id="rate">
    <a target="_blank" href="https://www.emagine.co.in/rockregister">
        <img style="margin-top: 80px;width: 100%;" src="assets/image/background_women.png">
        <p class="free_offers">Avail Upto Rs 1 Lac. Worth free offers!!!</p>
        <p class="free_offers_content">RoC<sup style="font-size: inherit;">k</sup> is World's No. 1 Cloud based Plug n Play Hiring Solution for MSME's/Start-ups/Co-Working Spaces backed with a Recruitment Marketplace of 1000+ Recruitment Partners and a World class ATS.</p>
        <input class="Bg-Input" style="top: 3550px;outline: none;border: 1px solid rgba(255, 255, 255, 0.3);" type="text" placeholder="Enter Email Address">
        <div class="Rectangle_backgroundwhite" style="top: 3554px;left: 390px;">Sign Up Now</div>
    </a>
</div>

